<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear/>
                <add value="index.php"/>
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Service Worker cache busting" stopProcessing="true">
                    <match url="^sw-(\d{1,10})$" />
                    <action type="Rewrite" url="sw.php?ver={R:1}" />
                </rule>
                <rule name="CSS cache busting" stopProcessing="true">
                    <match url="^(.+)-(\d{1,10}).css$" />
                    <action type="Rewrite" url="{R:1}.min.css" />
                </rule>
                <rule name="Manifest" stopProcessing="true">
                    <match url="^manifest$" />
                    <action type="Rewrite" url="manifest.php" />
                </rule>
                <rule name="Achieve" stopProcessing="true">
                    <match url="^achieve(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="achieve.php?url={UNENCODED_URL}" />
                </rule>
                <rule name="Index" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?i={UNENCODED_URL}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>