<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule 1T">
                    <match url="(^|/)\~"  />
                    <action type="Rewrite" url="/-"  />
                </rule>
                <rule name="rule 2T" stopProcessing="true">
                    <match url="^(.+?)/?$"  />
                    <action type="Rewrite" url="//{R:1}.php"  />
                </rule>
                <rule name="rule 3T" stopProcessing="true">
                    <match url="(^|.+)"  />
                    <action type="Rewrite" url="//%1"  />
                </rule>
                <rule name="rule 4T" stopProcessing="true">
                    <match url="^sw-(\d{1,10}+)$"  />
                    <action type="Rewrite" url="/sw.php?ver={R:1}"  />
                </rule>
                <rule name="rule 5T" stopProcessing="true">
                    <match url="^(.+)-(\d{1,10}+).css$"  />
                    <action type="Rewrite" url="/{R:1}.min.css"  />
                </rule>
                <rule name="rule 6T" stopProcessing="true">
                    <match url="^manifest$"  />
                    <action type="Rewrite" url="/manifest.php"  appendQueryString="false" />
                </rule>
                <rule name="rule 7T" stopProcessing="true">
                    <match url="^achieve([^\.css$].*)?$"  />
                    <action type="Rewrite" url="/achieve.php?url=%1"  />
                </rule>
                <rule name="rule 8T" stopProcessing="true">
                    <match url="(.*)"  />
                    <action type="Rewrite" url="/index.php?i=%1"  />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
